__pycache__
logs
.env
.venv
unused_code.md
Blue/RagData/vulns_DB.json
Blue/RagData/vulns_embeddings_e5.npy
BeelzebubServices/*
.DS_Store
Honeypot/configurations/services/

!BeelzebubServices/config_00.json